[2017-10-13 12:45] loretoparisi opened #1 "Game Code Sample"
Would be great to provide a (very) simple game demo like the ones Apple provides in the Code Examples to better understand how the engine works.

[2017-10-13 15:28] JohnSundell commented on #1
Hi @loretoparisi 👋 Totally agree, this is something I’m going to add within the next couple of days 👍

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2017-10-15 20:13] FrankKair opened #2 "README section with why this engine stands out"
I think it would be nice to have a section on the README file showing why someone would want to use ImagineEngine over cocos2d or SpriteKit.
Like, what characteristics make this one stand out, why you designed it. 😊

[2017-10-16 07:35] JohnSundell commented on #2
That's a great idea @FrankKair! I'll make sure to add that soon as part of the work to improve the documentation and add guides & tutorials 👍

[2017-10-21 14:36] #1 closed

[2017-10-21 14:37] JohnSundell commented on #1
I've now added the very first tutorial! 🎉 Hope you like it, and let me know if you have any feedback or improvement suggestions 😄 https://github.com/JohnSundell/ImagineEngine/tree/master/Documentation/Tutorials/1-AsteroidBlaster

[2017-10-23 12:27] TyrfingMjolnir opened #9 "module file was created for incompatible target x86_64-apple-macosx10.12"
Playground execution failed:

error: Playground.playground:3:8: error: module file was created for incompatible target x86_64-apple-macosx10.12: /Users/user/Library/Developer/Xcode/DerivedData/AsteroidBlaster-cxopjqrvbpqmgucxltcgjmcfwabc/Build/Products/Debug/ImagineEngine.framework/Modules/ImagineEngine.swiftmodule/x86_64.swiftmodule
import ImagineEngine
       ^

[2017-10-23 12:31] TyrfingMjolnir commented on #9
Builds just fine for iOS on the other hand...

[2017-10-23 12:43] TyrfingMjolnir opened #10 "1-AsteroidBlaster Occasionally clicking the lower of 2 astroids makes both explode"
This only occurs at a certain distance between the two and the top one not yet being displayed, not able to reproduce on purpose but happens occasionally.

[2017-10-23 16:44] JohnSundell commented on #9
Hey @TyrfingMjolnir 👋

So if I understand this issue correctly, you want to use the AsteroidBlaster playground but for Mac? Did you change the playground's platform setting to macOS before compiling Imagine Engine?

[2017-10-23 16:46] JohnSundell commented on #10
Thanks for this bug rapport @TyrfingMjolnir! I would really appreciate any more concrete reproduction steps if you can find them, like where the asteroids were in the scene, anything else you observed?  I'll try to reproduce this myself and see if I encounter the same bug.

[2017-10-23 16:52] JohnSundell opened #11 "Fallback to lower scale textures if exact match can't be found"
In Imagine Engine, images for textures are loaded as `CGImage` directly (not as `UIImage` or `NSImage`, for performance reasons). This means that we don't get the feature of automatically falling back to images of a lower scale if an exact match can't be found.

For example, when loading a `UIImage`, if I specify `UIImage(named: "myImage")` when running on a `@3x` device, the system will first try

[2017-10-23 18:35] magnusviri opened #12 "Tutorial build errors on Xcode 8.3.3"
Downloaded and tried to build the Tutorial and I get errors:

“Swift Language Version” (SWIFT_VERSION) is required to be configured correctly for targets which use Swift. Use the [Edit > Convert > To Current Swift Syntax…] menu to choose a Swift version or use the Build Settings editor to configure the build setting directly.

“Swift Language Version” (SWIFT_VERSION) is required to be configured c

[2017-10-23 19:46] TyrfingMjolnir commented on #9
Building this for mac works fine after building for ios, but gave the error as above when building off of a fresh git clone when building only for macos.

[2017-10-23 22:00] JohnSundell commented on #12
Hi @magnusviri 👋

Imagine Engine is written in Swift 4, which means that you need to update to Xcode 9.0 or later in order to compile it. Basically anytime you get an error like that it's usually because your Xcode's Swift version is too low. Get the latest version of Xcode from the App Store and you should be ready to go 😄

Let me know if you still encounter errors after updating Xcode. Closing t

[2017-10-23 22:00] #12 closed

[2017-10-23 22:01] JohnSundell commented on #10
Interesting, thanks, I'll look into it 👍

[2017-10-23 22:03] JohnSundell commented on #9
Yeah, but that makes total sense if you didn't change the platform of the playground to macOS. The playground can't import the module until it has been built, and since you initially only built it for macOS but the playground is for iOS, you're gonna get an error like that. Then when you built for iOS the problem resolved because now you had a module with the correct architecture built.

Closing t

[2017-10-23 22:03] #9 closed

[2017-10-24 19:59] TyrfingMjolnir commented on #11
I have read the content of TextureManager. Not sure what needs to be done, does this have to be done like cycling through "\(imagename)@3x.png" "\(imagename)@2x.png" "\(imagename).png" ? I can loop through the options yet I have the feeling there is a much more desirable functional approach.

[2017-10-24 22:26] FranciscoAmado commented on #11
Hi @TyrfingMjolnir,
From what I've seen you can add a small logic in [this line](https://github.com/JohnSundell/ImagineEngine/blob/e385fc0c4f005b651a5d48fcbf7b858035f6951a/Sources/Core/API/TextureManager.swift#L62). It won't be much of an increment and you can pinpoint the problem described.
This could fallback to `load(texture, namePrefix: namePrefix, scale: scale - 1)`
Also, don't forget to add

[2017-10-24 22:51] JohnSundell commented on #11
Yeah that's a great idea @FranciscoAmado 👍

[2017-10-24 22:53] JohnSundell commented on #11
An additional optimization (doesn't have to be part of the initial implementation) would be to remember that fallback so that the next time the same texture is requested, the scale can be corrected right away (to avoid unnecessary I/O trying to load files we already know don't exist).

[2017-10-25 22:15] palleraccio commented on #10
Hi,
I had the same issue, but I noticed that it happens also when both actors are displayed.
I'm able to reproduce often the issue: indeed, it happens when two asteroids are close each other and the tap is pretty close to each asteroid. I've printed an example of positions of actors and tap when the issue happened:
[code]

[2017-10-26 09:26] gerchicov-bp opened #14 "Buggy game example"
I just can't run it. I follow instructions for asteroids game and can't understand even how to run it. Playground is compiled, shows some stats to the right and thats everything that works. Where the screen with working game?

In general your engine is not a `UIKit` control so it is a bad idea to make it as a `playground`:
1)it takes too much time to compile it every time you change the code
2)99%

[2017-10-26 09:40] dymv commented on #14
Along with this line in a playground

[code]

and that editor being visible

you should be able to see the result. Please provide more info if that's not the case for you.

[2017-10-26 16:26] #11 closed

[2017-10-26 16:29] JohnSundell opened #16 "Remember texture scale fallbacks"
As a continuation of https://github.com/JohnSundell/ImagineEngine/pull/15, we should make an optimization for when Imagine Engine falls back on lower-scale textures, so that it remembers what fallbacks it has made.

The advantage of this optimization is that no additional I/O has to be done when the same texture is requested multiple times.

The implementation could be as simple as a dictionary in

[2017-10-26 16:36] JohnSundell commented on #14
Hi @gerchicov-bp 👋

As @dymv says, as long as you assign a live view to the playground and open the assistant editor using the instructions in the tutorial, you should see a game running 👍

The reason I made it using a playground is that (in my opinion), it's a super nice way to learn new APIs and make quick experiments. If you don't agree with this, you can totally complete the tutorial in an app

[2017-10-26 16:36] #14 closed

[2017-10-26 16:50] JohnSundell commented on #10
Thanks @palleraccio, that is really useful debug info 👍 The problem was that two asteroids actually could have their frames overlap, which would trigger the `clicked` event on both of them when the player tapped at an overlapped point 😅 Increased the duration between asteroids to 2 seconds in the tutorial to fix it: https://github.com/JohnSundell/ImagineEngine/pull/17

Thanks a lot both @palleracc

[2017-10-26 16:51] JohnSundell commented on #16
@dymv Wanna take this one as well? 😄

[2017-10-26 17:06] #10 closed

[2017-10-26 21:36] JohnSundell opened #18 "Enable scale to be taken into account when doing collision detection"
Currently, scale is not being taken into account when performing collision detection (only the original frame of an actor is used). The task here is to apply an actor's scale to the frame that is used for collision detection, unless a custom hit box has been defined. So if an actor has a size of `50 x 30` and a scale factor of `3`, the size of the rectangle used for collision detection should be `

[2017-10-26 23:28] JohnSundell opened #19 "Support JPG-based textures"
Currently, Imagine Engine only supports loading texture images in the PNG format, but it would be very nice to support JPG as well. Suggested implementation is to add a `Format` enum to `Texture`, that lets the user specify the format, and then in `TextureManager` read that format and decide the file extension based on it.

[2017-10-27 07:45] Schlumpfpapa opened #20 "Would be great if ImagineEngine could be used in iPad Playgrounds"
Would be great if ImagineEngine could be used in iPad Playgrounds.

As a first step I tried to put the folders „API“, „Internal“ and „UIKIt“ in xCode into an iOS Playground's „Sources“ Folder. Unfortunately xCode is stuck on „Compiling ImageEngineTest“ for over an hour now.

 Can this be achieved somehow? Having ImagineEngine on iOS Playgrounds App would be huge!

Thanks and keep up the good work!

[2017-10-27 09:37] JohnSundell commented on #20
Hi @Schlumpfpapa 👋

I agree, that would be amazing! I don't know if it's yet possible to import 3rd party frameworks in Swift Playgrounds for iPad though. I don't have an iPad myself at the moment, so I'm not able to try this out or work on this. But if anyone wants to check it out, and if we need to make any changes in the framework itself to make it happen, I'm all for it 👍

[2017-10-27 10:11] Schlumpfpapa commented on #20
Hi again,

Using a precompiled framework in an iPad Playground is not (yet?) possible as far as I know.
What is possible though, is putting a buch of source files into the „sources“ directory of a Playground. These files are getting precompiled and you can use them from the main playground file like any other code which is included there. This can be tested with xCode Playgrounds on a Mac too. Unf

[2017-10-27 10:45] Schlumpfpapa commented on #20
OK, actually it already does work.
All you have to do is put all the files from „API“, „Internal“ and „UIKIt“ into the „sources“ folder except the files with names ending in -macOS.

The first few lines from the tutorial (minus a few errors ;-) ) running on an iPad:
![img_45561a0a851c-1](https://user-images.githubusercontent.com/17086191/32100580-90757576-bb14-11e7-86d4-b000a1d101b3.jpeg)

[2017-10-27 10:46] JohnSundell commented on #20
That is AWESOME 🚀 My desire to buy an iPad just got multiplied by 1000 😅

OK to close this now then?

[2017-10-27 10:50] Schlumpfpapa commented on #20
Sure. Perhaps it would be a good idea to write some hints into the docs though and to move the offending files elsewhere perhaps, like said above.

Unfortunately I have not much practise in collaborating to a git project, otherwise I could make a pull request myself and correct the errors in the tutorial code (compare Screenshot and code in tutorial).

[2017-10-27 11:22] JohnSundell commented on #20
That's a great idea - I'll take care of it 👍
Actually the playground that the tutorial comes with already includes the PlaygroundSupport import 🙂

Thanks a lot for bringing this up and for helping me figure out how to use Imagine Engine in Swift Playgrounds on iPad - this is really exciting 🎉

[2017-10-27 11:53] Schlumpfpapa commented on #20
I now was able to get the whole Tutorial Playground running on an iPad. Except for one „small“ detail: Tapping the asteroids does not trigger clicked events.

![img_847c90b91e68-1](https://user-images.githubusercontent.com/17086191/32102789-2748f640-bb1e-11e7-93fe-c4467ef02538.jpeg)

[2017-10-27 12:11] JohnSundell commented on #20
Hmmm interesting. Do `UIGestureRecognizer`s normally work in a playground's livev view on iPad (because that's how the click handling is implemented)?

[2017-10-27 12:49] Schlumpfpapa commented on #20
I have written an iPad Playground using SpriteKit. At least _SKView.touchesBegan_ and _SKView.touchesEnd_ work as expected.

[2017-10-27 13:14] JohnSundell commented on #20
Since I don't have access to an iPad I'm afraid I can't be of much help debugging this 😢

[2017-10-28 15:26] #16 closed

[2017-10-28 16:01] JohnSundell commented on #18
Fixed by @aranasaurus in #28 👍

[2017-10-28 16:01] #18 closed

[2017-10-28 16:50] aranasaurus opened #33 "Add code style guidelines, perhaps with an automated linter"
So @JohnSundell doesn't have to do commits like [this](https://github.com/JohnSundell/ImagineEngine/commit/50ed860f732485d3d6b7ab6d768daf3afa27bb17) anymore :)

[2017-10-28 16:57] aranasaurus commented on #19
I started on this last night, but didn't really like where I ended up with it because I didn't have a good way to test it. It looks like `TextureManager` and friends got a few updates since I looked at it too, so I ended up just scrapping it.

I think this task needs better tests around the stuff that's already there in order to be a "good first issue", because it kind of felt like making changes

[2017-10-28 21:16] JohnSundell commented on #33
Haha both you and @dymv picked up on that commit 😅 So I'm totally all for a linter, perhaps [SwiftLint](https://github.com/realm/SwiftLint)? I've used it in a few other projects, and it's very nice & highly configurable 👍

The reason I made that commit (rather than giving you direct feedback on the PRs) is that I don't want the first contributor experience to involve lots of round trips with comme

[2017-10-28 21:27] JohnSundell commented on #19
Yeah a sample app would be very nice - it would also be something we could run UI tests against to make sure that things like click handling and rendering works end-to-end 👍

To be able to test this, I suggest bundling just a blank JPG file in the test bundle, then injecting the test `Bundle` into `BundleTextureImageLoader`, like this:

[code]

I agree that it's a bit too in-depth to be a starter

[2017-10-28 22:25] aranasaurus commented on #33
I totally understand, and that's why I made the issue; a linter should be responsible for taking care of all that so you don't have to feel nitpicky but the code can stay consistently styled and beautiful without a lot of back and forth on PRs :)

[2017-10-28 22:57] JohnSundell commented on #33
Yeah totally agree 👍

[2017-10-29 13:05] dymv commented on #19
Hey folks, regarding testing I totally agree with @JohnSundell about adding blank JPG file, it must  be the simplest way of achieving testability (perhaps we could abstract `Bundle` and hide it behind a protocol, and capture passed parameters, but it is unnecessary complication here 😜).

Another thing here is how we would propagate this change to `Animation`, `Block` and other places where we can

[2017-10-29 16:28] JohnSundell commented on #19
Actually, it might lead to simpler test code by doing what you're suggesting about mocking `Bundle` @dymv - since if we use a bundled image we'd have to find a way to get to the actual image being rendered to be able to perform an assertion. It *could* be done by using `@testable import` and asserting against the `contents` of an actor's `layer`, but that feels like relying too much on implementat

[2017-10-30 20:47] alisandagdelen opened #36 "Change Size of Actor"
Hi, i read the first tutorial and then try to make something different.
I find some different assets and it was bigger than first tutorial's resources.
So i tried this
`let enemy = Actor(size: Size(width: 0.5, height: 0.5))`
`enemy.animation = Animation(name: "Enemies", frameCount: 8, frameDuration: 0.02)`
so it did not change the size of Actor. Also i tried to set size after initialization of act

[2017-10-30 22:27] JohnSundell commented on #36
Hi @alisandagdelen and welcome to the project! 👋

So there's a couple of things at play here (no pun intended 😅). First, Imagine Engine automatically resizes an actor when it plays an animation, per default. So your `enemy` actor will be automatically sized according to the textures of your animation. So setting its size manually won't have any effect. You can turn this off by setting `autoResize`

[2017-10-31 00:45] Adamcbrz opened #37 "Issue with Walkabout Tutorial"
I am have been trying to go through the Walkabout tutorial. But I can't seem to get stuck at the first couple of steps.

Repo Steps:
1) Download Repo
2) open ImagineEngine/Documentation/Tutorials/2-Walkabout/Walkabout.xcworkspace
3) Hit Command + B to build
4) Add to the playground import ImagineEngine

Result: see the following error:
`Playground execution failed:

error: Playground.playground:3:

[2017-10-31 01:59] Alex88WH commented on #37
Hmm, I had that same problem. Did you finish the first tutorial, right? Clone the repo again and go straight to walkabout tutorial. I don't know why but that worked for me.

[2017-10-31 13:08] Adamcbrz commented on #37
@Alex88WH I had my device selected selecting a simulator and rebuilding worked. Thank you!

[2017-10-31 13:08] #37 closed

[2017-11-01 21:15] #19 closed

[2017-11-01 21:31] JohnSundell commented on #37
Awesome to hear that things worked out! I'll add a note to the tutorials to make it clear that you need to build Imagine Engine for the simulator 👍

[2017-11-01 21:48] JohnSundell commented on #36
@alisandagdelen Let us know if there's anything else we can help with or if this issue can be closed 🙂

[2017-11-02 05:22] alisandagdelen commented on #36
@JohnSundell Oh sorry i just saw notifications :) Thanks for your help :)

[2017-11-02 05:22] #36 closed

[2017-11-02 07:16] JohnSundell commented on #36
No problems 🙂

[2017-11-05 10:25] #33 closed

[2017-11-06 14:35] pmlbrito opened #49 "[Help] How to use ImagineEngine in native development"
Hi John,
I'm opening this issue after our small twitter ping-pong chat.
I'm here to ask for your help on how to incorporate the ImagineEngine in the context of a native app. I started messing around the playground you created, and then I tried to port it to a full fledged app starting a blank application.
I went through the code and came up that the GameViewController is a (closed) subclass of UIV

[2017-11-06 16:29] JohnSundell commented on #49
Hi @pmlbrito 👋

Thanks a lot for opening an issue, it's so much easier than on Twitter 👍 Welcome to Imagine Engine, very exciting that you are trying it out! Since it hasn't been open sourced for long, there's a ton of documentation, guides and tutorials that need to be written, but in the meantime, let me show you how I have setup Imagine Engine in my game Revazendo.

Since Revazendo is a 100% Im

[2017-11-07 11:23] pmlbrito commented on #49
Hi @JohnSundell

Thank you very much for your fast response. Also, it was very enlightening, as you answered pretty much everything I was thinking about.
In fact, I wasn't thinking as bad as I thought, I was pretty close in understanding how to work with it, but I wasn't trusting it to be that straight forward and easy.
Now I'm wondering why my test didn't work when I tried to add the gameviewcont

[2017-11-07 17:41] JohnSundell commented on #49
@pmlbrito My pleasure 😄 Happy to help!

To add a child view controller to a `UIViewController` you need to call `addChildViewController()`, otherwise it won't receive key events like `viewWillAppear`. If you want to use your own view controller, you can just use `Game` directly:

[code]

That should do it 👍

[2017-11-08 17:17] JohnSundell commented on #49
Cool if I close this one @pmlbrito?

[2017-11-08 17:21] pmlbrito commented on #49
Sorry, didn't have the chance to come here and close it myself. It's cool to close, you've been a great help!

[2017-11-08 17:21] #49 closed

[2017-11-08 17:41] JohnSundell commented on #49
👍

[2017-11-08 19:22] JohnSundell opened #53 "Support retrieving plugins based on type"
Imagine Engine supports plugins that can be used to extend the functionality of its core objects, such as Actor, Scene and Camera. All objects that can have plugins attached to them conform to the `Pluggable` protocol.

An API should be added on `Pluggable` that enables the user to retrieve plugins based on a type, so you are able to do this:

[code]

**Good to know:**

- `Pluggable` defines the A

[2017-11-08 22:45] JohnSundell opened #55 "Make a Scene's layer opaque + set black background color"
Currently, a Scene is rendered with transparency, and has a clear background color by default. Then, `GameViewController` sets a background of *its* view to black, in order to get a black scene.

This should be changed, so that `GameViewController` doesn't have to do anything, and instead we should make `Scene` have a black background color by default, which should also enable us to always render

[2017-11-09 22:30] JohnSundell opened #57 "Add 'enteredScene' event for actors"
`Actor` already has a `leftScene` event that gets triggered whenever it leaves the bounds of its scene. We should add a `enteredScene` as well that gets triggered whenever an actor moves from being completely outside of its scene to being within its bounds.

**Good to know:**

- Actor events are defined on `ActorEventCollection`.
- The `leftScene` event is triggered by `Scene` in `actorRectDidChan

[2017-11-09 22:55] TadeasKriz commented on #53
I’m taking this one

[2017-11-09 23:25] TadeasKriz commented on #53
@JohnSundell Since there can be more than one instances of a plugin with the same type, shouldn't this method be `plugins<P: Plugin>(ofType: P.Type) -> [P]`?

[2017-11-09 23:26] JohnSundell commented on #53
@TadeasKriz You are completely right 👍

[2017-11-10 04:34] Warren-Lamb commented on #57
Hi John.  I have never done anything like this before.  I solved this issue by adding  this code to ActorEventCollection.swift

/// Event triggered when the actor collided with any other actor
    public private(set) lazy var collidedWithAnyActor = Event<Actor, Actor>(object: self.object)
 then  the following to Scene.swift

if !wasWithinScene && actor.isWithinScene {
            actor.events.ente

[2017-11-10 04:55] z0s commented on #55
Hi John, I submitted a PR with a proposed change. Please let me know if I must make any further additions to solve this issue as this was my first attempt at contributing to open source.

[2017-11-10 07:30] JohnSundell commented on #55
@z0s That's awesome - just merged your PR! 😄 Congrats on making your first open source contribution 🎉

[2017-11-10 07:32] JohnSundell commented on #57
@Warren-Lamb Looks great 👍 Perhaps do an `else if` since the actor can't both enter and exit the scene at the same time. Then we should also add some tests to make sure this works as expected. Can you open a PR with your changes and we can discuss it further there? 😄

[2017-11-10 07:32] #55 closed

[2017-11-10 07:50] #53 closed

[2017-11-11 10:19] JohnSundell commented on #57
Fixed by @Warren-Lamb in https://github.com/JohnSundell/ImagineEngine/pull/60

[2017-11-11 10:19] #57 closed

[2017-11-11 11:05] JohnSundell opened #61 "Add option to warn if texture is missing when in debug mode"
We should make it easier to identify why a texture is not rendered on the screen. In `TextureManager`, when an image for a texture couldn't be found, we should make it possible to either log an error to the console or to trigger an assert. This should be off by default but be configurable by the user:

**Things to do:**

- Make it possible to toggle an `errorMode` on `TextureManager` (for example

[2017-11-11 11:37] JohnSundell opened #63 "Add convenience API to add multiple objects to a scene at once"
It would be nice to have a convenience API that lets the user add multiple actors, blocks or labels to a scene at once. So that you can write code like this:

[code]

The convenience API can be added as an extension on `Scene` 👍

[2017-11-11 12:03] JohnSundell opened #65 "Take scale into account when evaluating actor scene constraint"
We should take an actor's scale into account when evaluating its `scene` constraint. Constraints enables users to restrict where and how actors can move, and an actor can be prevented from leaving its scene with the following code:

[code]

However, if a scale is set, the actor's original size will be used for the constraint calculations:
[code]

The actor will now still be treated as having a phy

[2017-11-11 12:50] vijay-redmart commented on #61
Will pick this one 👍

[2017-11-11 13:04] vijaytholpadi commented on #61
Will pick this one 👍

[2017-11-11 13:57] JohnSundell commented on #61
@vijaytholpadi Awesome 🚀

[2017-11-11 17:01] NSMyself commented on #63
Can i do this one?

[2017-11-11 17:13] JohnSundell commented on #63
@NSMyself Of course! Go for it 👍

[2017-11-11 18:11] JohnSundell opened #68 "Add 'actorAdded' event on Scene"
In order to be able to observe whenever an actor was added to a scene, it would be awesome to have an event for it. That way really cool plugins could be written, like this:

[code]

The above plugin would add a red background color to all actors that are added to the scene that the plugin is attached to. Very useful to implement things like debug tools 👍

**Things to do:**

- Add a new event on `

[2017-11-11 18:23] Juanpe commented on #65
Hi John, thanks for the iniciative! 👍🏼
I submitted a PR with a proposed change. Please let me know if I must make any further additions to solve this issue.

[2017-11-11 20:08] JohnSundell commented on #65
Fixed by @Juanpe in #69! 🎉

[2017-11-11 20:08] #65 closed

[2017-11-11 20:53] z0s commented on #68
Hi John, please let me know if I might take additional steps at this point. Thanks!

<img width="682" alt="SceneEventCollection" src="https://user-images.githubusercontent.com/13080927/32693391-27b44cde-c6df-11e7-85ee-af07e9ad819c.png">

[2017-11-12 10:56] vijaytholpadi commented on #61
Issued PR: #72

[2017-11-12 16:59] NSMyself commented on #63
This is pretty straightforward to implement, in my opinion:
[code]

I'm not fond of having to repeat that `forEach` cycle for every possible class that conforms to the `SceneObject` protocol though.

In my opinion, a generic `add` method that supported a variable number of objects (all of which that comply with the `SceneObject` protocol) would make sense. Do you agree? Or do you prefer having to

[2017-11-12 17:33] JohnSundell commented on #63
@NSMyself Yeah, or you can do it event simpler actually 😀

[code]

I totally agree that we should try to unify all operations that deal with `SceneObject`s. I started doing that in #52 and #54, and it's an effort we should continue to get rid of as much code duplication as possible 👍 I don't think it's within the scope of this issue though, but rather something we need to do on an ongoing basis go

[2017-11-12 23:00] NSMyself commented on #63
Nicely spotted 👍 thanks!

OK, looks good, I'll open a PR then.

[2017-11-14 17:04] JohnSundell commented on #63
Fixed by @NSMyself in #77 🎉

[2017-11-14 17:04] #63 closed

[2017-11-15 19:17] mattiashagstrand opened #81 "Strange behaviour when repeating RotateAction with a delta"
If you try to repeat a RotateAction with a delta the rotation is reset to the original value each time the rotation action repeats. I expected the rotation to continue at a constant rate until cancelled.

Example code:

`actor.repeat(RotateAction(delta: 3.14, duration: 1))`

I think all that is needed is to add this function to MetricAction:

[code]

This is consistent with how MoveAction is imple

[2017-11-15 20:25] JohnSundell commented on #81
Hi @mattiashagstrand 👋

That's definitely a bug! Do you want to submit the fix you suggested as a PR? 🙂

[2017-11-15 20:27] mattiashagstrand commented on #81
Absolutely, I will create a PR!

[2017-11-15 20:43] JohnSundell commented on #81
Awesome 🎉

[2017-11-15 21:02] mattiashagstrand commented on #81
Hmm, looks like I don't have permissions to create a new branch from master. How can I fix that?

[2017-11-15 21:34] JohnSundell commented on #81
@mattiashagstrand Fork the repo, make a new branch on your fork, then submit it as a PR 👍

[2017-11-16 16:19] JohnSundell commented on #81
Fixed by @mattiashagstrand in #84 🎉

[2017-11-16 16:19] #81 closed

[2017-11-16 20:51] mattiashagstrand opened #85 "Support creating Actors from a shape"
In the current implementation all Actors are backed by textures, but it would be nice to be able to create Actors that are just shapes.

Since core animation already has a CAShapeLayer, a new class ShapeLayer could be created to provide a cleaner API. Then the Actor class needs to be changed so that it can use different types of layers.

[2017-11-16 21:33] JohnSundell commented on #85
Great idea @mattiashagstrand - I would love if that feature was added!

I've actually done some thinking about this before, so I'll sum up my thoughts and let me know what you think:

I think it would be cool if there was a `Shape` object, instead of it being a feature of `Actor`. The reason, is that not all actions that an actor can do make sense for a shape. For example playing an animation or h

[2017-11-16 22:05] mattiashagstrand commented on #85
Totally agree that some of the actions on actor don't apply for shapes.
At the same time, many of the features of an actor also applies for a shape, e.g. shapes have size and position, could collide, move and so on.

I think that a `Shape` object is a good idea no matter how the rendering is implemented. It could definitely be used in hit testing.

So maybe we should have one `Shape`object and ano

[2017-11-16 22:30] JohnSundell commented on #85
Yeah, I totally agree that we need to minimize the amount of code duplication if we were to go the separate object route. But I think this is a goal we need to have in general - I'd love for us to implement lots of specialized objets (including `ParticleEmitter`, like you mention, etc). There are so many cool Core Animation features we can use 😄

So, I think the goal needs to be to make it possibl

[2017-11-16 22:39] NSMyself commented on #85
A bit off-topic but still: regarding #63, if the `SceneObject` protocol specified an `add`  function (and we might as well specify a `remove` one too) we'd have a lot less boilerplate. Very easy and fast to do too.

[2017-11-16 22:51] mattiashagstrand commented on #85
I was also thinking about adding something to `SceneObject`, but instead of adding `add` and `remove` functions, what if we add a new property:

[code]

Then we could remove the very similar add functions in `Scene` and just have one function:

[code]

Of course, for this to work we need to change the implementation of `Layer`. Maybe it should be a protocol instead of a subclass of `CALayer`... 🤔

[2017-11-17 08:54] mattiashagstrand commented on #85
I get your point @JohnSundell about having a ingle `Shape`object. Lazily loading the layer is a great idea! It would also make it consistent with `Label`and `Block`.

About my other idea of extending `SceneObject`. Probably shouldn't have a layer property on it since that would mean that `Layer` would have to be public and we would leak implementation details in the API. But what about something l

[2017-11-17 09:20] JohnSundell commented on #85
@mattiashagstrand Yeah exactly, we don't want to leak the fact that we're using CoreAnimation for rendering as part of the API, since it's quite possible that we'd like to switch rendering backends in the future 👍

I'm afraid that using an extension like you suggested won't really work either, since you can't extend a protocol with another protocol (yet). However, one solution could be to make `Sc

[2017-11-17 09:28] JohnSundell opened #86 "Add 'moved' event for camera"
Imagine Engine offers an event system to enable users to trigger logic based on when something happened in a scene. For example, here's how an `Actor` can be observed, triggering a closure whenever it's moved:

[code]

We should add a similar event to `Camera` as well, so that you can do this:

[code]

**Things to do:**

- `Camera` does not yet support events, so a `CameraEventCollection` will nee

[2017-11-17 09:49] mattiashagstrand commented on #85
Doh! Swift is so great that sometimes I forget it can't do everything... 🙃

Yes, supporting different `CALayer` subclasses is a challenge... 🤔

Making `SceneObject`a class could work since none of the implementors have a superclass today.

One solution could be to add methods to `SceneObjects` as suggested by @NSMyself. To avoid making the `layer` property in `Scene` internal they could look like

[2017-11-17 09:59] woaiios opened #88 "Texture does not load"
Place image in the workspace.
![image](https://user-images.githubusercontent.com/4178793/32941343-1d38daf2-cb4b-11e7-98c5-a66674fd2e23.png)

Block

[code]

Player

[code]

The ground is visible, but the player is hidden.

[2017-11-17 10:07] JohnSundell commented on #88
Hi @woaiios 👋 The problem is that Xcode groups are not translated into real folders in your app's bundle, so the player's idle texture will actually be at the path `/0@2x.png`. To fix this you can use folder references instead of groups, that way a folder will also be created in your app bundle 👍

[2017-11-17 11:32] JohnSundell commented on #85
Yeah I really like that idea - it would make the implementation a lot simpler too, and goes inline with how plugins work for example (in that they get a callback when attached to an object). We don't require the layer in `remove` though, since we can just call `layer.removeFromSuperlayer()` 👍

[2017-11-17 11:34] JohnSundell commented on #85
@mattiashagstrand @NSMyself Actually I don't think we need either of those methods, come to think about it. Because we already have the `Activatable` protocol that sends activation & deactivation events to all scene objects. All we'd have to do is to expose the `layer` property of `Scene` internally so that actors can add themselves to it 😄

[2017-11-17 11:48] mattiashagstrand commented on #85
Ahh, yes, I like it! 👍
It also has the added benefit that actors are added to the scene lazily. So if a scene is never activated we don't have to create layers for the scene objects.

Should I start a PR and implement this change plus add a first version of a `Shape`object?
I guess we implement collisions in the same way as in actors so the PR doesn't get to big...

By the way, should I create PRs

[2017-11-17 12:05] JohnSundell commented on #85
@mattiashagstrand Great point 👍

Let's start by doing the `SceneObject` refactor separately. I think before we start adding `Shape` we should get everything in order to help us avoid code duplication (where it makes sense). So let's start with this one and then take it from there 😄

It would be awesome if you want to work on this. You can work on your fork, and then submit a PR against this repo,

[2017-11-17 12:07] JohnSundell commented on #85
@mattiashagstrand Before you start though, one challenge will this approach will be to preserve the order in which actor layers are added to the scene. Since `grid.actors` is a `Set` (for quick insertions & deletions) there's no guaranteed order. So we might need to do something like in `Timeline` where it keeps track of objects that are pending activation using an `Array`.

[2017-11-17 12:14] JohnSundell commented on #85
Maybe an intermediate step is to simply do what you and @NSMyself suggested and add an `add(to layer: Layer)` method to `SceneObject` for now.

[2017-11-17 12:15] JohnSundell commented on #85
But maybe let's call it `addLayer(to superlayer: Layer)` to make it clear that it's the object's layer that should be added.

[2017-11-17 12:31] mattiashagstrand commented on #85
Ahh, yes, the ordering is a problem.

Ok, I'll start by just adding the new method to `SceneObject`.
For now we can skip the `remove`function I think. `Actor` already does `layer.removeFromSuperlayer()` it is deactivated.

Maybe the next logical thing to extract from `Actor` is collision detection?

[2017-11-17 12:37] JohnSundell commented on #85
Yes, sounds like a plan! Want to make a separate issue for that?

[2017-11-17 12:42] mattiashagstrand commented on #85
I'll create a new issue!

[2017-11-17 12:56] mattiashagstrand opened #90 "Extract collision detection logic from Actor"
To be able to add new types of `SceneObjects` that support collision detection without duplicating code, the collision detection logic in `Actor` needs to be extracted.

We probably need a new protocol something like this:

[code]

Collision events also need to be extracted from ActorEventCollection.

[2017-11-17 13:06] JohnSundell commented on #90
Sounds great to me 👍 As for event collections, we can probably introduce a base class called `CollidableEventCollection` that any collidable object's event collection can inherit from.

[2017-11-17 13:26] mattiashagstrand commented on #90
I thought about the same thing, to add a `CollidableEventCollection`.
The only problem I see with this is what happens when we add a new protocol (e.g. `Clickable`) and want to move more events out of `ActorEventCollection`...

Would have been nice to add events as protocol extensions but then events can't be stored properties.
Could of course use `objc_setAssociatedObject` but I always tries to a

[2017-11-17 13:51] JohnSundell commented on #90
@mattiashagstrand Imagine Engine actually already has a solution for that! 😄 You can simply call `makeEvent()` in an `EventCollection` and it will be stored automatically based on the function signature 👍 But that comes at a bit of a performance cost, which is completely fine for custom events that are not expected to be called multiple times per frame (potentially). But for the built-in events we

[2017-11-17 14:03] mattiashagstrand commented on #90
Nice! 😄

Still not sure how we should handle when we want to extract other types of events from `Actor`... 🤔

[2017-11-17 14:22] JohnSundell commented on #90
One option is to let `Collidable` have an `associatedtype Events` that needs to be both an `EventCollection` and conform to a `CollidableEventCollection` that defines the required events. That way the implementation will be duplicated, but the API will be consistent. Which I think is a nice tradeoff in this case, since it'll enable us to use composition 👍

[2017-11-17 14:27] mattiashagstrand commented on #90
I like this a lot! 👍
Absolutely agree that consistent API is more important than a little code duplication.

I'll start a new PR then?

[2017-11-17 14:29] JohnSundell commented on #90
@mattiashagstrand Do it 🚀 one thing to keep in mind when working with this part of the engine is that it's very performance sensitive code. We should probably invest in some performance tests going forward, but until then it would be awesome if you could measure your change against the current implementation before submitting a PR, to make sure we don't get a regression in performance. Let me know

[2017-11-17 14:33] mattiashagstrand commented on #90
Got it!

I was actually thinking about that yesterday that it would be nice to have some performance tests.
There is something built in to XCTest but I have never used it. If you have any suggestions on the best way to do performance testing it would help a lot!

[2017-11-17 14:41] JohnSundell commented on #90
@mattiashagstrand Usually what I do is to create a scene with a large number of objects (say, 1000) and then use the `Core Animation Profiler` to make sure that everything still runs at 60 frames per second. I usually run those tests on an iPhone 6. Another thing I do (which is probably more appropriate for things like this), is to just run the code path 10,000 times or something and measure the t

[2017-11-17 14:53] mattiashagstrand commented on #90
Great tips! Thanks!

[2017-11-17 16:13] mattiashagstrand commented on #90
I just created a test app that puts 1000 actors on the screen and they all have a rotate action:

`actor.repeat(RotateAction(delta: 3.15, duration: 1))`

When I profile on my iPhone 8 the CPU runs 100% and I only get around 35 FPS... 🤔

[2017-11-17 20:59] JohnSundell commented on #90
Oh snap 😱 I must admit I've never tried it with 1000 repeated rotate actions 😅 Let me run the same simulation here, would be interesting to see what it gets stuck on 🤔

[2017-11-17 23:52] JohnSundell commented on #90
@mattiashagstrand Did some investigations, and it turned out that collision detection was a large bottleneck when many objects are added close to each other (since it is turned on by default). I made a fix for that here: https://github.com/JohnSundell/ImagineEngine/pull/94. Will continue to look into how we can make 1000s of actions run smoothly at the same time - perhaps with some batching mechan

[2017-11-18 11:43] JohnSundell commented on #90
@mattiashagstrand OK I've identified the problem. It's with `Timeline`, that when many actions are continuously updated it generates a TON of overhead (one of the top functions is `Set.insert()`). Will take a look soon and fix it 👍

[2017-11-18 11:51] JohnSundell commented on #88
@woaiios Did the above solution work for you, or can I help you in any other way? 🙂 Let me know if this can be closed.

[2017-11-18 12:45] JohnSundell commented on #90
Done! 😄 With this change even thousands of animations should now render smoothly (1000 simultaneous rotations now render at 60 FPS on my iPhone 7): https://github.com/JohnSundell/ImagineEngine/pull/95 🚀

[2017-11-18 14:01] kkapitan commented on #86
Hi! I've submitted PR for this issue #97 :)

[2017-11-18 15:02] JohnSundell commented on #86
Fixed by @kkapitan in #97 🎉

[2017-11-18 15:02] #86 closed

[2017-11-18 15:02] #68 closed

[2017-11-18 16:32] aranasaurus commented on #90
I’ve done a fair amount of work with the built in performance testing stuff. It’s really nice! You give it a block of code to execute and it does so a bunch of times and measures it, reporting back average time and standard deviation, etc. And then it allows you to capture a baseline and reports gains/losses in performance vs that baseline each time it is run as part of the test suite. It can even

[2017-11-18 19:35] JohnSundell opened #98 "XCTest Performance Testing"
We should investigate if we can use XCTest's performance testing features to implement automatic performance tests on CI. This to prevent regressions in high performance-sensitive code when adding new features.

**APIs that would be good to performance test:**

- [ ] `Timeline`, since it's the backbone of all updates, including actions & animations.
- [ ] `Action`, since it is the base class for a

[2017-11-18 19:36] JohnSundell commented on #90
@aranasaurus Awesome! 😄 I added a new issue for performance testing here, along with some APIs that I think would be good to performance test: https://github.com/JohnSundell/ImagineEngine/issues/98. Let me know what you think 👍

[2017-11-18 19:50] mattiashagstrand commented on #90
@JohnSundell Excellent work with the performance improvements! 👏 Now I just have to make sure I don't make it worse again when I extract collision detection... 🙈

[2017-11-18 19:57] JohnSundell commented on #90
@mattiashagstrand Thanks 😄 Haha no worries, we'll keep measuring and will improve if needed 👌 This is why I wanted to make an open source Swift game engine in the first place, to be able to dive in and debug & fix performance problems whenever they occur.

[2017-11-18 20:45] aranasaurus commented on #98
I think the only way to really know if they’ll flake out ci or not is to try it, hehe. The baseline capturing does capture machine specs for the machine it was run on, if I remember correctly, though, so that might be helpful.

[2017-11-18 21:31] JohnSundell commented on #98
That's the spirit! 🚀 Sounds good to me 👍 I think we should just make a proof of concept and see where it takes us. Go for it @aranasaurus!

[2017-11-19 15:40] mattiashagstrand commented on #90
Started looking at this and have defined a Collidable protocol like this:

[code]

And then I want to define `CollidableEventCollection` like this:

[code]

But if I have `<C: Collidable>` the compiler fails with a `Segmentation fault: 11`. It compiles if I just use `<C>`. @JohnSundell Have you seen this before?

[2017-11-19 17:17] JohnSundell commented on #90
@mattiashagstrand Yeah the problem is that you end up with a circular reference. The compiler wants to compile `Events`, but to do that it needs to compile `Collidable`, and then back to `Events`. Have seen these segfaults many times when trying to do things like this with generics. I think you can solve it by making `CollidableEventCollection` a subclass of `EventCollection`, but like we discusse

[2017-11-19 18:25] mattiashagstrand commented on #90
I suspected it had something to do with a circular reference. Would have been helpful with a error messages instead of segmentation fault... 🙄
Yeah, making `CollidableEventCollection` a class should be ok but isn't very flexible. Back to the drawing board... 🤔

[2017-11-19 19:47] mattiashagstrand commented on #90
@JohnSundell  This is the closest I've gotten to a working solution.

`Collidable` is now defined like this:
[code]

and I have done this to add the collision events:

[code]

One downside to this solution is that `Collidable` has to be public and therefor variables like `isCollisionDetectionActive` are also public.
Another is that when you observe collisions for a group you have to specify the ty

[2017-11-20 04:15] woaiios commented on #88
Thank you.
Test passed.
![image](https://user-images.githubusercontent.com/4178793/33001987-eb10078e-cd76-11e7-8f3e-a2ec2fc0524b.png)

[2017-11-20 16:54] insidegui commented on #20
@JohnSundell This is very interesting and I do have an iPad :)

What if we had a script that generates a pre-configured playground for the developer? 🤔

[2017-11-20 23:05] JohnSundell opened #100 "Add 'resized' event for Camera"
Similar to how `Actor` has a `resized` event that gets triggered whenever its size changes, we should do the same thing for `Camera`. The nice thing is that this would allow a scene to easily be resized whenever its container view gets resized (since the size of the camera is the same as the size of the view).

**Things to do:**

- Add a `resized` event on `CameraEventCollection`.
- Trigger the ne

[2017-11-21 06:13] Warren-Lamb commented on #100
Hey John.  I will give this a go!

[2017-11-24 10:45] mattiashagstrand opened #102 "Repeat action causes small stutter"
When repeating an action (e.g. rotation) each time the action repeats their is a small stutter.
This is caused by the action reset because an action rarely ends at a completion ratio of exactly one.

Changing

[code]

to

[code]

in ```Action``` seems to fix the problem in the case when an action is repeated but could potentially cause problems in other cases. Maybe ```Action``` should have a ```r

[2017-11-27 12:14] SS-HU opened #103 "Line animation issue!"
Dear Mr Sundell.
Waiting for the promised line animations, but got blocked. Care to explain please?
//SS

[2017-11-27 14:12] JohnSundell commented on #103
Hi @SS-HU 👋 What do you mean by line animations? 🤔

[2017-11-27 14:13] JohnSundell commented on #88
Awesome 🎉

[2017-11-27 14:13] #88 closed

[2017-11-27 14:22] JohnSundell commented on #102
Great find @mattiashagstrand! 👍 How about if we always make sure that the last update that an action gets has a completion ratio of exactly 1?

[2017-11-27 14:33] SS-HU commented on #103
Why did you block me?
//Sina

[2017-11-27 15:43] mattiashagstrand commented on #102
Yes, if the completion rate always becomes exactly one it should solve the problem.
To achieve that we need to make sure the animation time is dividable by ```1/[screen refresh rate]``` right?

[2017-11-27 16:35] JohnSundell commented on #103
Resolved this with @SS-HU over email 🙂

[2017-11-27 16:35] #103 closed

[2017-11-27 20:27] dabrut opened #105 "The Timeline API doesn't allow to repeat an action at random intervals"
It seems like there's no way to repeat an action at random intervals easily.

This could be useful for example if we want to add an enemy to a scene every n seconds (n being randomly generated every time).

The call site could look like this:

[code]

What do you think?

[2017-11-27 21:32] JohnSundell commented on #105
Hey @dabrut 👋 How about continously scheduling delayed closures using Timeline's `after()` API?

[code]

[2017-11-27 21:34] JohnSundell commented on #102
That's not really enough, since the framerate can vary in practice. What I think we need to do is to always run a final update with `completionRatio = 1.0` even if the action is technically supposed to be done. That is, give it a final update before finishing it in case the completion ratio isn't exactly 1. What do you think @mattiashagstrand?

[2017-11-27 22:39] illyabusigin opened #106 "Best approach for implementing gravity in a platformer?"
I'm trying to make a Mario style platformer with Imagine. Nearly everything has been incredibly easy and intuitive so far, kudos! I would love to get some advice on the best approach to implementing gravity. The two approaches you mentioned on Twitter are:

1) Use vertical velocity to continuously move the player downwards - pretty straightforward
2) Create a custom action - curious on the best ap

[2017-11-27 22:55] JohnSundell commented on #106
Hi @illyabusigin 👋

That's awesome to hear that things have been easy so far 👍 Thinking a bit more about this, what you usually want in a game like this is a lightweight physics simulation where a linear acceleration is being applied to the player. This can be achieved using a plugin. I quickly hacked one together to show you how such a plugin can look like:

[code]

Basically now you can attach t

[2017-11-28 02:26] dabrut commented on #105
@JohnSundell I was "focused" on the `repeat()` API but this is a totally acceptable alternative 👍 .
Thanks John.

[2017-11-28 02:26] #105 closed

[2017-11-28 11:51] mattiashagstrand commented on #102
The problem isn't that we don't do an update with ```completionRatio = 1.0```, but that we truncate ```completionRatio``` to ```1.0``` in the last update.

Here is a simplified example:

Say that we want to move an actor ```100```points in ```1```second and repeat that move, and assume that one update happens every ```0.3```seconds.

In the first 3 updates ```completionRatio``` will be ```0.3```,

[2017-11-28 12:11] mattiashagstrand commented on #102
I created a test that demonstrates the problem:

[code]

I thought it was a bit strange that the extra ``` game.update()``` was needed so I also printed out ```completionRatio``` as the test ran:

[code]

Looks like the repeat takes an extra update to start repeating. That can probably also cause stuttering.

[2017-11-28 12:23] mattiashagstrand commented on #102
I have now confirmed that my fix doesn't fix anything... 😣

I tried removing the truncation of ```completionRatio``` so that it becomes ```1.2``` in the last updated in the first repetition. That makes the test pass but probably not what we want.

What is needed is for the extra ```0.2``` to carry over to the ```completionRatio``` for the first update in the next iteration. Not sure how to di that

[2017-11-28 16:12] illyabusigin commented on #106
@JohnSundell This is exactly what I was looking for, thank you! I'll try and put together a simple platformer tutorial this weekend and open a PR :)

[2017-11-28 17:36] mattiashagstrand opened #108 "Removing colliding actor sometimes causes extra collision event"
Here is a test that triggers this bug:

[code]

Note that for this bug to happen the actor that is removed must be the one that triggers the collision.

Doing the following in ```Grid``` fixes the bug:

[code]

I haven't created a PR yet because even though all tests pass I'm unsure if this can cause other bugs.
What do you thing @JohnSundell ?

[2017-11-28 18:37] JohnSundell commented on #106
@illyabusigin Awesome! 🎉 Let us know if you need any help with anything 😄

[2017-11-28 22:01] JohnSundell commented on #61
Fixed by @vijaytholpadi in #72 🎉

[2017-11-28 22:01] #61 closed

[2017-11-28 22:14] JohnSundell commented on #108
Seems legit to me @mattiashagstrand 👍 An actor shouldn't be able to participate in collisions after it has been removed, and since the set still contains the removed actor it seems like a good idea to check if it has a `scene` property - feel free to submit a PR! 😄

[2017-11-28 22:56] JohnSundell opened #109 "Add APIs to check if an actor is in contact with another actor or block"
It would be really nice to be able to check if an actor is currently in contact with another actor or block, like this:

[code]

Thankfully this is super easy to implement, since `Actor` already has internal properties that keep track of its current contacts:

[code]

**Things to do**

- Implement the two methods that enables the API user to check if an actor is currently in contact with another a

[2017-11-29 17:03] JohnSundell commented on #108
This can be closed, right @mattiashagstrand?

[2017-11-29 17:05] mattiashagstrand commented on #108
@JohnSundell Absolutely! It was fixed in PR #111

[2017-11-29 17:11] JohnSundell commented on #108
@mattiashagstrand Pro tip: If you write "Resolves #<NumberOfIssue>" in your PR description then GitHub automagically closes the issue you fixed 😉

[2017-11-29 17:11] #108 closed

[2017-11-29 17:14] mattiashagstrand commented on #108
@JohnSundell Ahh, nice, didn't now about "Resolves #". Will use that from now on... 👍

[2017-11-30 00:56] z0s commented on #109
I'd like to take this issue!

[2017-11-30 18:18] AnotherCoolDude opened #116 "consider to open a Slack channel"
Hey there,

awesome Project, love it so far. Since development happens pretty fast, i recommend using Slack (or an alternative) for faster communication. It has already been proven helpful in other projects (take a look at Vapor for example). It is also a great platform for sharing ideas and providing help.

[2017-12-01 09:01] JohnSundell commented on #116
Hi @AnotherCoolDude! 👋

Happy to hear that you like Imagine Engine 😄

I've been thinking a lot about that actually (in fact, I already have a Slack registered for Imagine Engine, but no invites sent out). However I've decided (for now) not to use it for these reasons:

1. I don't have time to maintain another communication channel (I try to limit my social channels as much as I can in order to be

[2017-12-01 09:01] #116 closed

[2017-12-04 20:33] JohnSundell opened #117 "What kind of games are you building?"
I'd like to start this issue as a thread to see what kind of games that you are either building, or are looking to build, using Imagine Engine. It would be great to hear in order to decide what directions to take the engine in, and to identify any new features that the community could benefit from 🚀

So whether you have screenshots, a prototype, or just a loose idea - I'd love to hear it! 😀 Put it

[2017-12-04 20:39] JohnSundell commented on #117
I'll go first! 😀 I'm currently building an asteroid dodging game called Revazendo together with [The Lando Bros](https://twitter.com/TheLandoBros) and [Kristian Johansson](https://twitter.com/Ljudkristian). The game is a new take on the classic 2D Shoot 'em up (or _Shmup_ genre), in that you control a 2D space ship with retro graphics, but you can't actually shoot (unless you acquire a power-up),

[2017-12-05 11:37] mattiashagstrand opened #118 "Extra collision event when actor moves between grid tiles"
After two actors have collided there is normally only one collision event even if they move around, as long as they remain in contact. However, if one of the actors move out of a grid tile that both actors are in and then moves back into it, an extra event is generated. Here is a test that shows this happening:

[code]

This is happening because when an actor leaves a tile the other actors in that

[2017-12-05 12:42] mattiashagstrand commented on #117
I'm doing an Astroids clone! 😃

![screen shot 2017-12-05 at 13 33 36](https://user-images.githubusercontent.com/1116408/33607418-540f38e4-d9c1-11e7-9adf-590f6484fd6c.png)

My next project will be a top-down racing game.

I think the main thing I'm missing in ImagineEngine right now is better collision detection.
I have actually started working on that... 😀 @JohnSundell, should I submit a PR when I

[2017-12-06 12:19] AnotherCoolDude opened #119 "Add pathfinding ability"
Hey there,

i noticed an obstacle-texture in the second tutorial. I suppose you allready had the idea of implementing pathfinding in the tutorial. I tried to implement it myself with help from a guide from raywenderlich.com, but it's a bit more complex than i thought. I think pathfinding would give the engine a whole lot more capability and usefullness.

[2017-12-09 11:00] mattiashagstrand commented on #119
Hi @AnotherCoolDude!

Path finding would be nice but have you tried using GameplayKit?

You can create a ```GKGraph``` and use the ```findPath``` method to get an array of ```GKGraphNode```s. Then create a ```GKPath``` and use it to create a ```GKGoal``` to follow the path. Finally create a ```GKBehavior``` with the path following goal.

I have created a plugin that can be used to connect a ```GKB

[2017-12-09 13:33] JohnSundell commented on #119
That's an awesome idea @mattiashagstrand 👍 This is exactly what the plugin system is for, so that the engine doesn't have to contain functionality like this itself, but rather things can be mixed and matched as you need them. I'd like to keep the core of the engine as thin as possible and then keep expanding the plugin API as needed to support these type of use cases. @AnotherCoolDude how does tha

[2017-12-09 14:18] mattiashagstrand commented on #119
I agree with you @JohnSundell, one of the big advantages of ImagineEngine is that is so easy to get started.
It would be nice though to create a catalog of plugins for common things that most games need.
Have you thought about adding that or maybe to create a separate plugins repository?

[2017-12-11 12:42] AnotherCoolDude commented on #119
That's awesome. It really shows the potential of Plugins. I agree, we should create a catalog of examples. It will boost motivation for people to get started with ImagineEngine. @mattiashagstrand  thanks for the snippet, ill give it a try

[2017-12-20 22:34] JohnSundell commented on #117
That looks really cool @mattiashagstrand 🎉😄 You can totally submit a PR directly if you want @mattiashagstrand, as long as you don't mind changing the implementation if there's some feedback. If you want feedback earlier you can also open an issue for discussion 👍

[2017-12-20 22:36] JohnSundell commented on #117
I'm also porting my 2013 game Swords & Arrows to Imagine Engine 🚀 It's making heavy use of plugins (just like Revazendo) to modularize all systems, like the snow effect, scrolling the map, etc 👍

![simulator screen shot - iphone 8 - 2017-12-20 at 23 36 17](https://user-images.githubusercontent.com/2466701/34232013-9afb319e-e5de-11e7-9200-b06a8a9e2b0f.png)

[2017-12-26 00:48] MKGitHub commented on #2
That would be really interesting as SpriteKit + SceneKit + GamplayKit are the Apple standard frameworks for building games with high performance + shaders + metal + AR and Xcode integrated editor 😊 I think that this would be for the novice developers with very little knowledge about game development. It would also be interesting to see performance tests compared to SpriteKit 😊

[2017-12-27 13:53] raulriera commented on #119
Hey guys,

A question about implementing this, I tried following the comment about using gameplay kit, but I can't get it to work.. the path returns zero and then it crashes. Am I missing a step here?

[code]

Thanks! Loved the 2 tutorials

[2018-01-04 21:21] JohnSundell commented on #118
@mattiashagstrand This is a shortcut I made for performance reasons, as you suspected. However, I think we should still consider it a bug since it can lead to unexpected behavior. Perhaps we should check if the actors are still in contact before removing them when an actor leaves a grid tile, what do you think?

[2018-01-05 08:18] mattiashagstrand commented on #118
@JohnSundell Yes, checking if they are still in contact is a good idea I think and would solve this bug.

[2018-01-05 19:05] jasonmerchant opened #132 "Frame by Frame Sprite Control"
How would we achieve frame by frame control over a sprite?

Let's imagine a scenario from another pseudo engine as an example:

Every frame an update() function is called.

Inside update I want to set the current frame for the sprite.

My reasoning is that I want to process all my input controls and interactions with the game world, as well as the past few moments to decide which animation frame t

[2018-01-05 19:27] JohnSundell commented on #132
Hi @jasonmerchant 👋

You can use the `Action` API to gain frame by frame control. Create a custom action by subclassing the `Action` class and override `update(with context: UpdateContext)` and run your logic there.

You can then assign a new sprite/texture to an actor like this:

[code]

To make an actor perform your action, simply call `perform()`:

[code]

[2018-01-05 22:40] jasonmerchant commented on #132
Hmm, it sounds like this engine will be really slow for this sort of thing.

What I'm really looking for, is to load the sprite sheet into the gpu ahead of time, and then call something like showFrame(3) which would render that part of the sprite sheet.

I guess I'm back to using Metal.

Anyhow, thanks for clarifying.

[2018-01-05 23:45] #132 closed

[2018-01-06 13:16] JohnSundell commented on #100
Fixed in https://github.com/JohnSundell/ImagineEngine/pull/115

[2018-01-06 13:16] #100 closed

[2018-01-09 20:44] #118 closed

[2018-01-11 20:49] JohnSundell commented on #119
@raulriera What kind of crash are you getting? Yeah you need to tell GamePlayKit about your obstacles as well, since otherwise its path finding algorithm isn't aware of what zones to avoid. You should be able to create obstacles using the `rect` of your blocks. @mattiashagstrand any other input here? Maybe @duemunk has some input here as I know he has used GamePlayKit's path finding abilities befo

[2018-01-11 21:12] Alex88WH opened #139 "Dialogue Plugin"
Hey there! I'm trying to create a plugin that handles dialogues. I could use some help :D
The final goal is a plugin that can be added on any kinda games. Something simple like a sign in a village or even a complex dialogue with characters.

I’ve two games (dialogue system or something like that) in mind:

**Fire Emblem Heroes**
![uspiuus](https://user-images.githubusercontent.com/8467996/34846422

[2018-01-11 21:57] wess opened #140 "Tutorials in actual project"
Create a tutorial about using ImagineEngine in an actual project with adding assets to a project instead of a folder in a playground.

[2018-01-11 22:10] JohnSundell commented on #139
@Alex88WH Wow that looks really cool! 😄 I think a plugin like that could be of great value to the community since creating these kinds of dialogs is very common in many different kinds of games.

For multiline, the good news is that it's quite easy to add support for it. `CATextLayer` (which `Label` uses for rendering) has a `isWrapped` property that if set to true auto-wraps the text within the l

[2018-01-11 22:12] JohnSundell commented on #140
Sounds like a plan! 👍 Thanks for this suggestion @wess!

[2018-01-11 22:34] wess opened #141 "Considerations for usage with Tiled app"
Be cool to be able to use Tiled to design maps for ImagineEngine

[2018-01-11 22:57] JohnSundell commented on #106
Hey @illyabusigin, just want to check in to see if you need any more help with this or if it’s cool to close this issue? 🙂

[2018-01-11 23:06] lcs-rgordon commented on #117
Hi John,

I'm planning to use Imagine Engine with my Computer Science classes; I'm a teacher at the high school level on Ontario, Canada.

I appreciate how the engine simplifies 2D game development. I have used SpriteKit directly with students in the past and it's been a bit much for some students to wrap their minds around.

I do have some brief questions for you – I'm @rgordon on Twitter. Is the

[2018-01-12 08:46] JohnSundell commented on #117
Hi @lcs-rgordon! 👋

Oh yeah, I remember that you told me about that on Twitter - that's super exciting! 😀 Feel free to either DM me on Twitter or open issues here if it's something you'd like help with in terms of Imagine Engine 👍

[2018-01-12 08:47] JohnSundell commented on #141
@wess Thanks for this suggestion. I haven't used Tiled myself, what needs to be done in order to support it?

[2018-01-12 13:31] Alex88WH commented on #139
That's awesome!! Working here, thanks! 🎉 I'll post more progress later on ✌︎
![jan-12-2018 11-24-50](https://user-images.githubusercontent.com/8467996/34877023-5ad3b5b4-f78b-11e7-98fa-177f084fc6c1.gif)
(shouldAutoResize as false!)

[2018-01-12 14:17] JohnSundell opened #142 "Enable Label to support multiple lines of text"
Currently, the `Label` class only supports rendering a single line of text, and (per default) automatically resizes itself to fit that line of text. The auto-resizing can already be disabled by setting `shouldAutoResize` to `true`, but still it'll only render on a single line.

The good news is that `CATextLayer` (which `Label` uses for rendering) already supports multiple lines of text, we just n

[2018-01-12 14:18] JohnSundell commented on #139
Awesome! Added issue #142 to add support for line wrapping to `Label` 👍

[2018-01-12 14:21] mattiashagstrand commented on #139
Very nice!

To allow for even more text effects we could make Label `Rotatable` and `Scalable` as well.
Shouldn't be to hard or what do you think @JohnSundell?

[2018-01-12 14:22] JohnSundell commented on #139
@mattiashagstrand Sounds like a plan! 👍

[2018-01-12 14:52] mattiashagstrand commented on #119
Hi @raulriera

I think the reason the path returns zero is that you use the `findPath` method without adding the nodes to a `GKGraph`. Try something like this:

[code]

And as @JohnSundell pointed out, you need to add the obstacles to the graph before calling `findPath` if you want the actor to move around them.

I also noticed that you use `player.add(behaviorPlugin)` to add the plugin each time

[2018-01-12 15:27] raulriera commented on #119
Thanks for the help guys! I'll try it out! ❤️

[2018-01-12 15:38] Alex88WH commented on #142
I got this one :D

[2018-01-12 21:23] lcs-rgordon commented on #140
This tutorial would be stellar. @JohnSundell I might wait for this rather than ask you further questions about the trouble I'm having getting an Imagine Engine scene running in a standalone macOS app – I fear I'm missing something obvious and I don't want to waste your time.

[2018-01-13 13:03] lcs-rgordon opened #146 "Game elements visibility in actual project"
Somewhat related to #140, this fork is my attempt to get the AsteroidBlaster game from the tutorial running in a standalone macOS app:

https://github.com/lcs-rgordon/ImagineEngine

I've tried to keep my commits atomic so that it's easy to see what I've done:

https://github.com/lcs-rgordon/ImagineEngine/commits/master

Doing my best to follow @JohnSundell advice from Twitter I'm using the AppDele

[2018-01-13 13:33] Alex88WH commented on #146
Hey @lcs-rgordon, how are you?
Check this out (helped me a lot): Issue (https://github.com/JohnSundell/ImagineEngine/issues/49)
I used the attaching to view solution so far for testing: 😅
<img width="787" alt="screen shot 2018-01-13 at 11 28 23" src="https://user-images.githubusercontent.com/8467996/34906437-06c91c1e-f855-11e7-86f7-36deedb48773.png">

[2018-01-13 13:57] lcs-rgordon commented on #146
Thanks @Alex88WH , I'll try that!

I've also had a facepalm at my end – realized I had not added the image assets to the project.

I've now done that, but having the same results (solid blue screen) so I'm guessing the issue is that I haven't add (or named) the image assets correctly.

I'm off to work for a few hours but will keep working on this later today.

[2018-01-13 15:31] Alex88WH commented on #146
About loading textures (I had the same problem): Issue https://github.com/JohnSundell/ImagineEngine/issues/88
Just use folder reference instead of groups. Hope it helps!

[2018-01-13 16:39] JohnSundell commented on #146
That's great advice @Alex88WH 👍 A debugging tip is also to enable the scene's texture manager to report errors, like this:
[code]
That'll give you an assert if a texture fails to load that you can use to check if the file paths match 🙂

[2018-01-14 01:56] lcs-rgordon commented on #146
Thanks for the quick replies and suggestions!

So, hmm.

I've added the textures into the project with folder references.

Logging when textures fail to load.

Confirmed that the images are there in the app bundle after compiling, but still seeing the same issue.

My students will really enjoy reading this thread some day (it will be good for them to see that everyone has lots to learn).

![screen

[2018-01-14 13:33] lcs-rgordon commented on #146
As a follow-up, I thought it best to start fresh and I set up a workspace with a project for Asteroid Blaster to live side-by-side with the ImagineEngine project, rather than mashed together in a single project which wouldn't be the correct setup long term anyway.

I see the same results but have noticed something interesting (which was true in the old setup I had too).

The texture manager error

[2018-01-14 14:00] lcs-rgordon commented on #146
One final follow-up for now, I tried duplicating the setup of the original poster in #88 where it looks like the compiled ImagineEngine framework had been dragged into the project directly.

I've also tried the "attach to view" approach that @Alex88WH kindly suggested earlier too.

Same results in all cases, still see the blue screen with no textures loaded; same messages in the log. I'm running H

[2018-01-14 16:18] mattiashagstrand commented on #146
Hi @lcs-rgordon!

I tried downloading your Asteroid Blaster test project and it worked fine for me, the textures loaded correctly.

Could it be that you are not using a Mac with retina display?

When a texture is loaded the scale of the display is automatically added to the name of the texture (if the scale is greater than 1). If you don't specify the scale the scale of the main screen is used. Tr

[2018-01-14 19:59] JohnSundell commented on #146
Oh that's a good one @mattiashagstrand, that's totally possible 👍 I think we only search *downwards* when matching textures. We should probably search upwards too!

[2018-01-14 20:48] insidegui commented on #146
Would be cool if we could store textures in asset catalogs as well 😇

[2018-01-15 01:32] lcs-rgordon commented on #146
Hi @mattiashagstrand! Thanks for taking a look at this.

I am in fact using a non-Retina Mac (mid-2012 MacBook Pro).

And my students are all on 4-year old MacBook Airs at school, so they'll probably hit this issue as well.

The external monitor I'm testing on here is ultra-wide, but also not Retina.

The code you suggested:

`print("Main screen scale: \(Screen.main?.backingScaleFactor ?? 1)")`

P

[2018-01-15 16:39] mattiashagstrand commented on #146
Hi @lcs-rgordon!

Great that you at least see more than a blue window now... :)

The strange ground textures were caused by a bug in the implementation of `Block`.
I have submitted a fixed for that in PR #148.

Regarding the issue with scales I think we should fix so that retina textures are loaded even if the current screen is not retina as suggested by @JohnSundell. I will see if I have time to

[2018-01-15 22:09] JohnSundell opened #149 "Automatically load textures with higher resolution than the screen"
Currently, we only automatically fall back to textures with a *lower* resolution than the screen that the game is running on (for example, if the game is running on an iPhone X and there's no `@3x` asset, then the `@2x` or `@1x` version will be automatically loaded).

We should do the same thing for falling back to a *higher* resolution as well, that is if the screen is an `@1x` screen but there's

[2018-01-15 22:13] JohnSundell opened #150 "Support easy loading of textures from an asset catalog"
Since Imagine Engine doesn't rely on the default system image loading mechanism (using `UIImage(named:)` on iOS) loading textures from an asset catalog is not super easy. While *possible* it requires you to create `Animation` or `Texture` instances using `Image`, like this:

[code]

It would be nicer if Imagine Engine could automatically search the app's asset catalog for an image with a given nam

[2018-01-15 22:18] JohnSundell commented on #146
Awesome that we're making progress 🎉 This feedback is super valuable - it clearly shows improvements to be made in order to make the engine easy to use for everyone 👍

@mattiashagstrand Thanks for the fix, I'll take a look at it right away!

I've created issues #149 to address loading retina textures when a non-retina asset is not available and #150 to support asset catalogs in a nice way (it's te

[2018-01-15 22:24] JohnSundell commented on #109
I think it's fair to say that this one is again up for grabs if anyone wants to take it 🙂

[2018-01-15 22:52] JohnSundell commented on #142
Sorry @Alex88WH, I didn't see your edit (you don't get notifications for edits) - but PR looked great 👍 Thanks again for contributing 🚀 Closing this since it's now fixed!

[2018-01-16 18:29] JohnSundell opened #151 "UI/snapshot testing"
Some parts of Imagine Engine are a bit tricky to fully test with unit tests. While we are getting to a pretty high coverage now, parts of the rendering code are not really covered by tests, making refactors & fixes slow and risky.

It would be interesting to experiment with UI testing or snapshot testing for some of these cases, where we could - for instance - render an object and assert that the

[2018-01-16 18:32] JohnSundell opened #152 "Make Label rotatable"
You should be able to rotate a Label using the same API that you can use for actors. Functionality like this is implemented in a protocol oriented fashion, so all that needs to be done is to make `Label` conform to `Rotatable`. See `Actor`'s implementation of this protocol for reference.

[2018-01-16 18:33] JohnSundell opened #153 "Make Label scalable"
You should be able to scale a Label using the same API that you can use for actors. Functionality like this is implemented in a protocol oriented fashion, so all that needs to be done is to make `Label` conform to `Scalable`. See `Actor`'s implementation of this protocol for reference.

[2018-01-16 18:34] JohnSundell commented on #139
@mattiashagstrand Created issues #152 & #153 for scaling & rotation for labels, think they can be great starter tasks 😄

[2018-01-16 18:34] JohnSundell commented on #139
@Alex88WH Do you think you need more engine changes to implement your plugin? It looks like you're good to go, right?

[2018-01-16 23:52] SwiftStudies opened #154 "Swift Package Manager Support"
This is absolutely an enhancement request, but having support for using Swift Package Manager would be great.

[2018-01-17 07:58] kkapitan commented on #152
I'll take it if it's still open :)

[2018-01-17 08:02] jussi80 commented on #152
I was just to about to finish this task also. :)

[2018-01-17 17:11] Loyolny commented on #153
Yuo, it looks like a good first feature for me :)

[2018-01-17 19:54] JohnSundell commented on #153
@Loyolny Sounds awesome, go for it 👍

[2018-01-17 21:38] Alex88WH commented on #139
Yep! I'm working on it! Gonna close this issue. Thank you all 🤩 (I'll post updates and the plugin itself when I finish it (or at least make it viable to use))

[2018-01-17 21:38] #139 closed

[2018-01-17 22:28] JohnSundell commented on #154
Sounds like a great idea @SwiftStudies 👍

[2018-01-18 16:04] freak4pc commented on #154
@SwiftStudies To the best of my knowledge, SPM as of today doesn't support UIKit, AppKit, etc so you probably won't be able to ship this library with it.

[2018-01-19 21:01] #2 closed

[2018-01-20 21:11] Loyolny commented on #149
OK, I'd like to help with this one

[2018-01-20 21:23] Loyolny commented on #149
@JohnSundell, what do you think. In the occasion we have @2x screen and only @1x and @3x assets, which should have a higher priority?

[2018-01-22 20:59] JohnSundell commented on #152
Fixed by @jussi80 in #156 🎉

[2018-01-22 20:59] #152 closed

[2018-01-26 17:45] JohnSundell commented on #140
Not a tutorial, but there's now an Xcode template that generates an iOS project for an Imagine Engine-powered game: https://github.com/JohnSundell/ImagineEngine/tree/master/XcodeTemplates. Before me or someone else makes a tutorial for setting things up in a project this should act as a nice reference point for how to get started (on iOS at least). Let me know what you think 🙂

[2018-01-26 17:46] JohnSundell opened #160 "Add Xcode template for macOS game"
Similar to [the Xcode template for an iOS game](https://github.com/JohnSundell/ImagineEngine/tree/master/XcodeTemplates/Imagine%20Engine/iOS%20Game.xctemplate), we should include a template for macOS as well. The template should work the same way as its iOS counterpart, in that it provides the necessary boilerplate to get a game up and running on the Mac.

[2018-01-26 17:49] JohnSundell commented on #154
You can actually link against AppKit in a Swift Package, no problems (not UIKit, since SPM doesn't support iOS yet). But the bigger problem is that you can't include any resources in a SPM program, which means you'd either have to rely on downloading textures and sounds over the network at runtime, or only use code-generated assets. So SPM is not very practical for game development in its current

[2018-01-26 17:50] JohnSundell opened #161 "Add Xcode template for a tvOS game"
Similar to [the Xcode template for an iOS game](https://github.com/JohnSundell/ImagineEngine/tree/master/XcodeTemplates/Imagine%20Engine/iOS%20Game.xctemplate), we should include a template for tvOS as well. The template should work the same way as its iOS counterpart, in that it provides the necessary boilerplate to get a game up and running on the Apple TV.

[2018-01-26 17:51] JohnSundell commented on #106
Closing due to inactivity. Will re-open if any more action is needed 🙂

[2018-01-26 17:51] #106 closed

[2018-01-26 17:51] JohnSundell commented on #141
Closing due to inactivity. Will re-open if concrete actions can be provided.

[2018-01-26 17:51] #141 closed

[2018-01-26 17:53] JohnSundell commented on #149
@Loyolny I think in that scenario it makes more sense to load the @3x asset, since downscaling usually provides better image quality than upscaling.

[2018-01-26 17:53] JohnSundell commented on #149
And awesome that you are working on this 😄

[2018-01-26 20:27] Alex88WH opened #162 "Question adding gestures"
Hello there! Imagine Engine 0.9.0 🎉    Game Jam on its 1.0.0 release? haha Imagine Engine needs a showcase!!
Question: There's a way to add common gestures (like swipes) on the scene's game.view? (game.view is just to attach to the app's view, right?) Should I build a plugin for that? (like the ClickPlugin). Thanks a lot!

PS: Dialogue plugin progress
![plugin](https://user-images.githubuserconten

[2018-01-26 21:23] JohnSundell commented on #162
Let's totally do a game jam once we hit 1.0.0 😄 Need to start defining the criteria for 1.0.0 🤔

Plugin looks amazing @Alex88WH! 🚀 I love the effect on the exclamation marks 😄

In Revazendo I use a plugin to control the ship. It simply adds a `UIPanGestureRecognizer` to the game view that I then observe and move the ship accordingly. I was thinking the other day if we should add a `panned` event o

[2018-01-27 19:53] jussi80 commented on #150
Looks like we have run out of luck with this one: asset catalog is compiled as Assets.car file. That file is Apple's proprietary format which could be opened with [CUICatalog,](http://developer.limneos.net/index.php?ios=7.0&framework=CoreUI.framework&header=CUICatalog.h) which is private class. If we use private class, it is very likely that apps with this will not be passed through AppStore revie

[2018-01-27 21:06] JohnSundell commented on #150
@jussi80 I don't think we should attempt to parse the asset catalogs ourselves. There's the [`NSDataAsset`](https://developer.apple.com/documentation/uikit/nsdataasset) class which provides programmatic access to an asset catalog, it should be able to be used to access the data we need to load a texture 🙂

[2018-01-27 23:00] jussi80 commented on #150
@JohnSundell NSDataAsset seems to read everything else than image data which is rather strange. Taken from NSDataSet file

I added images and some random json filled files to .xcassets and images can't be opened, but those son files are no problem with the NSDataAsset. 🤔

[2018-01-30 18:05] Alex88WH commented on #162
Ok, swipe plugin is working! 🎉 Thank you! Messing around with that pan gesture. It's great and I think is a must have!

[2018-01-31 19:30] fortmarek opened #164 "Rotate Actor around pivot point."
I would like to rotate `Actor` with `UIImage` to rotate around a defined pivot point but I have not been able to find how to achieve this.

When I tried to find a solution, the best answer was this: https://stackoverflow.com/questions/27658454/swift-rotating-an-image-in-an-uiimageview-defined-in-the-main-storyboard

What I am trying to achieve:

![demo](https://raw.githubusercontent.com/fortmarek/

[2018-01-31 20:30] Alex88WH commented on #164
Hey there @fortmarek I figured that out
![jan-31-2018 18-09-22](https://user-images.githubusercontent.com/8467996/35645365-b2036268-06b2-11e8-8624-bb7513bbd9c8.gif)
Check out CALayer's anchorPoint function. Actor has a private layer property. Just set a new value (create a public variable 😁 ).

[2018-01-31 21:31] fortmarek commented on #164
Thanks! Maybe it would be great if this was made available as a public property, @JohnSundell? 😄

[2018-02-01 10:39] JohnSundell commented on #164
@fortmarek Yeah sounds great, feel free to implement it as a public property on `Actor` and send a PR👍 Just like `opacity`, `cornerRadius` etc it can just forward the value directly to the layer 🙂

[2018-02-01 10:39] JohnSundell commented on #109
Implemented by @pablocarmu in #155 🎉

[2018-02-01 10:39] #109 closed

[2018-02-01 10:42] JohnSundell commented on #164
Just one thing to keep in mind is that this property may behave a bit differently on macOS compared to iOS+tvOS, due to coordinate system differences. Just something to test for as this is being implemented 🙂

[2018-02-04 11:06] mattiashagstrand commented on #162
@JohnSundell  Yeah, I think panning should be translated to mouse drag on macOS.
I think it should be useful to start adding plugins that are platform specific. For example, I created a plugin that handles key events on macOS (and a iOS specific one for handling tilting the phone). A collection of plugins for common things you need to do in games would further lower the learning curve for using Im

[2018-02-05 22:27] JohnSundell commented on #154
Think I'll close this one for now, since SPM is not practical for using Imagine Engine at the moment. We can revisit it in the future when you can bundle resources in a Swift package.

[2018-02-05 22:27] #154 closed

[2018-02-05 22:30] JohnSundell commented on #162
Yeah let's add a `panned` event, think it'd be super useful 👍

Perhaps we could do something like:

[code]

That way the user can decide how this event should be treated on macOS?

Regarding plugins, we should totally make that plugin repo (and maybe some tooling to query that repo for plugins?), I'll get on that within the next few weeks 😄

[2018-02-07 16:43] TyrfingMjolnir opened #166 "Anyone know how to add Playground template to XcodeTemplates?"
Anyone know how to add Playground template to XcodeTemplates? When Creating new Project I get in iOS section a new iOS Game under the "Imagine Engine"-section; yet I believe it would be cool to have Image Engine Game as template for New Playground.

[2018-02-07 17:05] TyrfingMjolnir commented on #160
Like this? https://github.com/TyrfingMjolnir/ImagineEngine/tree/master/XcodeTemplates/Imagine%20Engine/macOS%20Game.xctemplate

[2018-02-07 18:08] TyrfingMjolnir commented on #151
o3x has good snapshot features.

[2018-02-07 22:30] TyrfingMjolnir opened #167 "There must be a way to run scripts from project template and do "pod install" or "swift build""
There must be a way to run scripts from project template and do "pod install" or "swift build"

Worst case this could be in the tool chain pre scripts.

[2018-03-11 18:15] seadiem opened #169 "Why do you not make Package?"
What about make package for install it to blank project? You have Source folder already.

[2018-03-11 19:48] JohnSundell commented on #169
@seadiem What do you mean? Do you mean let Imagine Engine be installed using the Swift Package Manager? If so, please see [this issue](#154). SPM is currently not very suitable for games. If you mean something else then please clarify 🙂

[2018-03-12 07:52] seadiem commented on #169
I'm understand. So main trouble for macOS, that is distribution a ready program? But what about make Resource folder and in code link to that resource thought relative path aka "../Resource" ?

[2018-03-12 15:01] JohnSundell commented on #169
That sounds really complicated, compared to just making a standard Mac app and including Imagine Engine either manually or using another package manager like CocoaPods or Carthage (both of which are supported). Until there's a way to package resources using SPM, and creating a "normal" Mac app using it (not only a command line tool or a script), I really don't think it's worth spending any time on

[2018-03-12 15:01] #169 closed

[2018-03-26 15:47] ffittschen opened #172 "Player jumping to top-left in Walkabout tutorial"
Hi!

I just tried gave ImagineEngine a try and followed the Walkabout tutorial. Somehow I'm seeing weird behavior, when I click on a horizontal axis right of the player (see attached gif). Sometimes, the player just jumps to the top-left corner of the scene.

To be sure that this isn't a bug caused by me, I copied the content of `FinalCode.swift` and it still happens.

Afterwards I modified the co

[2018-03-30 22:49] illyabusigin opened #174 "How to check if actor is in contact with a block/actor group?"
Hi John! I'm resuming work on my platformer and am trying to figure out the best way of determining if a user is in contact with a block/actor in a group.

My use-case is I have my player who will walk off the edge of an obstacle. When he walks off the edge I want to get a notification that he's no longer in contact with the ground so that I can apply gravity.

See GIF for my current behavior:
![g

[2018-04-03 18:46] leemaster81 opened #175 "Playground rendering all black."
Running the Asteroid Blaster tutorial in Xcode 9.2 playground doesn't render scene. Had to search on google for "Playground live view is black" and found a StackOverflow answer that fixed my issue.

[https://stackoverflow.com/questions/43020859/xcode-8-playground-live-view-doesnt-work/43022086](url)
`PlaygroundPage.current.needsIndefiniteExecution = true`

[2018-04-09 10:58] marekslk opened #176 "Event addObserver crash"
After new version of XCode (9.3) my app started to crash with this issue.

![snimka obrazovky 2018-04-09 o 12 50 22](https://user-images.githubusercontent.com/31618932/38494042-b52f1532-3bf4-11e8-9c68-e2b8f67db4ea.png)
![snimka obrazovky 2018-04-09 o 12 49 53](https://user-images.githubusercontent.com/31618932/38494044-b54e22e2-3bf4-11e8-877a-1a066ff11684.png)

[2018-04-20 19:58] JohnSundell commented on #176
Fix is here: https://github.com/JohnSundell/ImagineEngine/pull/177

[2018-04-20 20:05] #176 closed

[2018-06-24 13:47] VNystad commented on #174
The way i've done this kind of collisiondetection is with a "2d"array, int[][]. It is done in c++, but i  think it's somehow the same.

The size of 1 index in the array is 32*32 pixels, so the array coords for (24, 21) = [0][0] and (43,24) = [0][1]
I check if the array position below me has an value > 0 (a tile ID), if so, collision!
collidableArray[(int)(player.getPosY()/ 32) + 1] [(int)player.ge

[2018-09-09 17:07] actinism opened #184 "CATextLayerAlignmentMode / RunLoopMode / didBecomeActiveNotification"
Started from scratch with a new pod install and a test project using Xcode 9.4.1 (ios 11.4+), there are some minor compilation errors coming up:

**in DisplayLink+iOS+tvOS.swift**
_Type 'RunLoopMode' has no member 'common'_
[code]

**in Label.swift**
_Use of undeclared type 'CATextLayerAlignmentMode'_
[code]

**in GameViewController-iOS+tvOS.swift**
_Type 'UIApplication' has no member 'didBecomeAc

[2018-09-09 17:47] #184 closed

[2018-12-26 23:00] VioletasTheThird opened #186 "Any plans to support Non-Apple platforms?"
Just wondering. The engine looks like it would be great to use, but sadly I'm on Linux. After a quick google, I saw that Swift supports Linux, so I was just wondering if it would be a possibility.

[2019-01-14 09:45] JohnSundell commented on #186
Not at the moment, no - since Imagine Engine uses Apple's CoreAnimation framework, which is not available on Linux.

[2019-01-14 09:45] #186 closed

[2019-04-14 11:03] kaqu commented on #151
How about using this one? https://github.com/pointfreeco/swift-snapshot-testing it should be quite easy to use or extend if needed

[2019-05-13 03:48] shial4 commented on #186
Do you consider going to cross-platform at all?

[SDL](https://www.libsdl.org) officially supports Windows, Mac OS X, Linux, iOS, and Android.
Swift can be run on [Android](https://github.com/apple/swift/blob/master/docs/Android.md) (good example is [SCADE](https://www.scade.io) iOS, Mac OS X, Linux & [Windows](https://github.com/apple/swift/blob/master/docs/Windows.md)

SDL is written in C. Which

[2019-05-13 09:24] JohnSundell commented on #186
I don't, since at the moment I have no interest in building games for platforms other than Apple's platforms. But feel free to fork Imagine Engine and make those modifications if you want to build a cross-platform game using it 🙂

[2019-05-29 09:53] gerchicov-bp opened #190 "Feature request: soft body + texture"

[2019-11-20 14:56] lankonyue opened #191 "What's the usage of the rootNode in Timeline?"
Firstly, I'd say sorry to ask question here. I read the **Timeline.swift** file, there is a private **Node** class in it. But I didn't see anywhere outside invoking it. So, could you help me to understand the usage of the Node? Many thanks.

[2020-04-26 00:43] chessboy commented on #162
Just getting started with ImageEngine (mainly for macOS) and I just know it will be faster than what I'm currently getting from SpriteKit! That said, it's fairly nascent at this point and I'd like to contribute... first I need to figure some stuff out :) like how to create a custom events for say keyUp/keyDown? Seems we need to get into GameViewController and dispatch the events via a Scene Event?

[2020-04-26 01:58] chessboy commented on #162
ok, I get it... please LMK know if this is in the spirit of the framework:

[code]

[2020-09-13 14:43] Aviral190694 commented on #172
I tried it out working fine on my end.

[2021-03-14 16:14] MohsanKhan-jayway commented on #190
Good luck!

[2021-05-23 02:30] jnc-nj opened #194 "Tutorials fail with `No such module 'ImagineEngine'`"
![image](https://user-images.githubusercontent.com/25879733/119246149-b8dc8f80-bbb1-11eb-82d7-f266b932cb50.png)
I've never used xcode or swift before so I assume I must be doing something wrong..
Perhaps I need to import the module alternatively before declaring it? But it **is** included as part of the source files.

[2021-07-22 19:15] arcenstudios commented on #194
I'm having the same issue, followed instructions to the letter.

[2021-09-23 20:36] Lisergishnu commented on #194
Hey, clicking on `Build Active Scheme` under `Playground Settings` in the `File Inspector` solved this issue for me.

[2022-03-04 18:51] JamesCastrejon opened #195 "Does this engine still work?"
I'm very interested in using this engine, but it doesn't look like it's been supported for years. Does anyone know if it still functions well? I'm willing to try once I finish another project I've been working on. I want to use this engine to replace spritekit in one of my games.

[2022-03-04 18:53] JamesCastrejon commented on #195
Also I noticed the Pull Request has Swift Package Manager support. That would be definite plus if it goes through.

[2022-03-30 17:40] Atomic-Germ commented on #195
It doesn't seem to work at all.

[2022-03-31 17:06] JamesCastrejon commented on #195
Thanks for letting me know! I'll probably keep the project starred so I can keep an eye on it.